@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.luz {
    background: radial-gradient( #4338ca 0%, #5e52f3 100%);
    filter: blur(280px);
}

.title {
    font-family: 'Montserrat', sans-serif;
}

.input {
    background-color: rgba(255, 255, 255, 0.05);
}
.linea {
    background: radial-gradient(#fff 50px, #ffffff53 40%, #ffffff00 );
}
.images{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 8.73%, rgba(0, 0, 0, 0.5) 53.87%, rgba(0, 0, 0, 0.851852) 67.05%, #000000 83.82%);
}